[Desktop Entry]
Type=Application
Name=Clevo Control
GenericName=Keyboard Backlight
Comment=Keyboard backlight color, brightness and performance profile of Clevo laptops
Exec=clevo-control-tray
Icon=keyboard-brightness-symbolic
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=keyboard;backlight;color;brightness;clevo;power;profile;
StartupNotify=false
